<section class="bg-gray-900 home_wrapper">
  <div class="flex items-center justify-center">
    <div class="w-1/2 mr-16">
      <h1 class="text-6xl font-bold italic">Don't Wait!</h1>
      <p class="my-4 font-bold text-blue-200 text-xl tracking-wide">Are you hungry?</p>
      <button class="btn rounded-full text-sm">ORDER NOW</button>
    </div>
    <div class="w-1/2">
      <img src="/images/pizza.png" alt="pizaa" />
    </div>
  </div>
</section>
