<section class="bg-gray-900 home_wrapper">
  <div class="flex items-center justify-center">
    <div class="w-1/2 mr-16">
      <h1 class="text-6xl font-bold italic">Don't Wait!</h1>
      <p class="my-4 font-bold text-blue-200 text-xl tracking-wide">
        Are you hungry?
      </p>
      <button class="btn rounded-full text-sm">ORDER NOW</button>
    </div>
    <div class="w-1/2">
      <img src="/images/pizza.png" alt="pizaa" />
    </div>
  </div>
</section>
<section class="menu container mx-auto py-8">
  <h1 class="text-xl font-bold">All Pizzas</h1>
  <div
    class="
      grid grid-cols-1
      md:grid-cols-2
      lg:grid-cols-3
      xl:grid-cols-4
      col-gap-12
      row-gap-12
    "
  >
    <%pizzas.forEach((pizza)=>{%>
    <div class="w-full md:w-64 mt-8">
      <img class="h-40 mb-4 mx-auto" src="/images/pizza.png" alt="pizza" />
      <div class="text-center">
        <h2 class="mb-2 text-lg"><%=pizza.name%></h2>
        <span class="bg-gray-200 py-1 px-4 rounded-full uppercase text-xs"
          ><%=pizza.size%></span
        >
        <div class="flex items-center justify-around mt-4">
          <span class="font-bold text-lg">₹<%=pizza.price%></span>
          <button
            class="py-1 px-6 rounded-full flex items-center font-bold btn"
          >
            <span>+</span>
            <span class="ml-4">Add</span>
          </button>
        </div>
      </div>
    </div>
    <%})%>
  </div>
</section>
