@import "./variables";

body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
}
nav li:last-child a {
  background: $primary;
  &:hover {
    background: $primary-hover;
  }
}

nav li a {
  transition: $smooth;
  &:hover {
    color: $primary;
  }
}
.home_wrapper {
  height: calc(100vh - 87px);
  color: $pure;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  color: $pure;
  background: $primary;
  outline: none;
  border: none;
  padding: 5px 15px;
  transition: $smooth;
  &:hover {
    background: $primary-hover;
  }
}
.cart {
  height: calc(100vh - 87px);
  color: $pure;
}
.order {
  min-height: calc(100vh - 87px);
  color: $pure;
}

.input_style{
  outline: none;
  border: 2px solid $primary;
  background: $primary-hover;
}
.input_style::placeholder{
  color: $pure;
}