@import "./variables";
@import "~noty/src/noty.scss";
@import "~noty/src/themes/mint.scss";
$a: 100vh;
$b: 87px;

body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
}
nav li:last-child a {
  background: $primary;
  &:hover {
    background: $primary-hover;
  }
}

nav li a {
  transition: $smooth;
  &:hover {
    color: $primary;
  }
}
.home_wrapper {
  height: calc(#{$a} - #{$b});
  color: $pure;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  color: $pure;
  background: $primary;
  outline: none;
  border: none;
  padding: 5px 15px;
  transition: $smooth;
  &:hover {
    background: $primary-hover;
  }
}
.cart {
  height: calc(#{$a} - #{$b});
  color: $pure;
}
.order {
  min-height: calc(#{$a} - #{$b});
  color: $pure;
}

.input_style {
  outline: none;
  border: 2px solid $dark;
  background: $pure;
  color: $dark;
}
.input_style::placeholder {
  color: $dark;
}
.login {
  height: calc(#{$a} - #{$b});
  color: $pure;
}
.login a {
  color: $primary;
  &:hover {
    color: $primary-hover;
  }
}
.menu {
  color: $dark;
  min-height: calc(#{$a} - #{$b});
}

.noty_theme__mint {
  border-radius: 50px!important;
  padding-left: 8px!important;
}
.order_customer{
  color: $dark;
}
table tbody tr a{
  color: $primary;
  font-weight: 400;
}